/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/

:root {

  --header-height: 3rem;
  /*===== Font weight =====*/
  --font-med: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*===== Colores =====*/
  --dark-color: #141414;
  --dark-color-light: #8a8a8a;
  --dark-color-lighten: #F2F2F2;
  --white-color: #FFF;
  /*===== Font and typography =====*/
  --body-font: 'poppins', sans-serif;
  --big-font-size: 1.25rem;
  --bigger-font-size: 1.5rem;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.813rem;
  /*===== Margenes =====*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-5: 3rem;
  /*===== z index =====*/
  --z-fixed: 100;
  /*===== Rotate img =====*/
  --rotate-img: rotate(-30deg);
}

@media  (min-width:768px) {

  :root {

    /*===== Font and typography =====*/
    --big-font-size: 1.5rem;
    --bigger-font-size: 2rem;
    --biggest-font-size: 3rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }

}

/*===== BASE =====*/
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-med);
  color: var(--dark-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  max-width: 100%;
}

/*===== CLASS CSS ===== */
.section {
  padding: 5rem 0 2rem;
}

.section-title {
  position: relative;
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-4);
  text-align: center;
  letter-spacing: 0.1rem;
}

.section-title::after {
  content: '';
  position: absolute;
  width: 56px;
  height: 0.18rem;
  top: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--dark-color);
}


/*===== LAYOUT =====*/
.bg-grid{
  /* max-width: 1024px; */
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% -2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--dark-color-lighten);
 
  border-bottom: 1px solid #000;

}

/*===== NAV =====*/
.nav{
  height: var(--header-height) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width:768px){
  .nav-mneu{
    position: fixed;
    top:var(--header-height);
    left: -100%;
    width: 70%;
    height: 100vh;
    padding: 1.5rem;
    background-color: var(--white-color);
    transition: .5s;
  }
}

.nav-item{
  margin-bottom: var(--mb-4);
}

.nav-logo{
  font-weight: var(--font-semi-bold);
}

.nav-toggle , .nav-shop{
  cursor: pointer;
  font-size: 1.3rem;
}
/*Show menu*/
.show{
  left: 0;
}

/*Active link*/
.active{
  position: relative;
}
.active::before{
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 45%;
  width: 4px;
  height: 4px;
  background-color: var(--dark-color);
  border-radius: 50%;
}

/*Change color header*/
.scroll-header{
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/*===== HOME =====*/
.home{
  background-color: var(--dark-color-lighten);
  overflow: hidden;
  
}
.home-contanner{
  height: calc(100vh- var(--header-height));
}
.home-sneker{
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
}

.home-shop{
  background-color: var(--dark-color);
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
 
.home-img{
  position: absolute;
  top:1.5rem;
  right: 2rem;
  max-width: initial;
  width: 275px;
  transform: var(--rotate-img);
}

.home-new{
  display: block;
  font: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-2);
  text-transform: capitalize;
}

.home-title{
  font-size: var(--bigger-font-size);
  margin-bottom: var(--mb-1);
}

.home-descrption{
  margin-bottom: var(--mb-5);
}
/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 1.25rem 2rem ;
  font-weight: var(--font-med);
  border-radius: .5rem;
  transition: .3s;
}
.button:hover{
  transform: translateY(-.25rem );
}

/*===== FEATURED =====*/
.featured-contaner{
  row-gap: 2rem;
  
  

  grid-template-columns: repeat(auto-fit , minmax(220px,1fr));
}
.artical-snaker{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: .5rem;
  background-color: var(--dark-color-lighten);
  transition: 0.3s;
 
}

.snaker-sale{
  position: absolute;
  left: .5rem;
  padding: .25rem .5rem;
  background-color: var(--dark-color);
  color: var(--white-color);
  border-radius: .25rem;
  font-size: var(--h2-font-size);
  transform: rotate(-90deg);
  letter-spacing: .1rem;
}

.snaker-img{
  width: 220px;
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-5);
  transform: var(--rotate-img);
  filter: drop-shadow(0 30px 30px rgba(0,0,0,.2));
}
.snaker-name ,.snaker-price{
  font-size: var(--h2-font-size);
  letter-spacing: .1rem;
  font-weight: var(--font-bold);
}
.snaker-name{
  margin-bottom: var(--mb-1);
}
.snaker-price{
  margin-bottom: var(--mb-4);
}

.artical-snaker:hover{
  transform: translateY(-.5rem);
}
.button-light{
  display: inline-block;
  color:var(--dark-color);
  font-weight: var(--font-bold);
  align-items: center;
}
.button-icon{
  font-size: 1.25rem;
  margin-left: var(--mb-1);
  transition: .3s;
}
.button-light:hover .button-icon{
  transform: translateX(.25rem);
}
/*===== COLLECTION =====*/

.collection{
  margin-bottom: 0;
  padding: 2rem !important;
}
.collection-contaner{
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit , minmax(220px,1fr));
  justify-content: center;
  overflow: hidden;

}
.collection-card{
  position: relative;
  display: flex;
  height: 340px;
  background-color: var(--dark-color-lighten);
  padding: 2rem;
  border-radius: .5rem;
  transition: .3s;
}
.collection-name{
  font-size: var(--bigger-font-size);
  margin-bottom: .25rem;
}
.collection-descrption{
  margin-bottom: var(--mb-2);
}
.collection-card:hover{
  transform: translateY(-.5rem);
}

/*===== WOMEN SNEAKERS =====*/
.women-contaner{
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit , minmax(220px,1fr));
}

/*===== OFFER =====*/
.offer-contaner{
  grid-template-columns: 55% 45%;
  column-gap: 0;
  background-color: var(--dark-color-lighten);
  border-radius: .5rem;
  justify-content: center;
}

.offer-data{
  /* top right bottom left */
  padding: 4rem 0 4rem 1.5rem;
  
}
.offer-title{
  font-size: var(--biggest-font-size);
  margin-bottom: .25rem;
}

.offer-descrption{
  margin-bottom: var(--mb-3);
}
.offer-img{
  width: 153px;
}

/*===== NEW COLLECTION  =====*/
.new-contaner{
  row-gap: 2rem;
}
.new-means{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-color-lighten);
  border-radius: .5rem;
  padding: 2rem;
}
.new-means-img{
  width: 276px;
  margin-bottom: var(--mb-3);
}

.new-title{
  font-size: var(--bigger-font-size);
  margin-bottom: .25rem;
}

.new-price{
  display: block;
  margin-bottom: var(--mb-3);
}

.new-sneaker{
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit , minmax(220px,1fr));
}

.new-snaker-card{
  position: relative;
  background-color: var(--dark-color-lighten);
  /* top & bottom 3.5 rem | left & right 1.5 rem  */
  padding: 3.5rem 1.5rem;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.new-snaker-img{
  width: 220px;
}

.card-overlay{
  position: absolute;
  left: 0;
  bottom: -100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.3);
  transition: .3s;
}

.new-snaker-card:hover .card-overlay{
  bottom: 0;
}
/*===== NEWSLETTER =====*/
.newsletter-contaner{
  background-color: var(--dark-color);
  color:var(--white-color);
  padding: 2rem .5rem;
  border-radius: .5rem;
  text-align: center ;
  margin: 0;
}
.newsletter-title{
  font-size: var(--bigger-font-size);
  margin-bottom: var(--mb-2);
}
.newsletter-description{
  margin-bottom: var(--mb-5);
}
.newsletter-form{
border-radius: .5rem;
padding: .5rem;
background-color: var(--white-color);
display: flex;
column-gap: .5rem;
}

.newsletter-input{
  width: 90%;
  outline: none;
  border: none;
  font-size: var(--normal-font-size);
}
.newsletter-input::placeholder{
  color: var(--dark-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}
/*===== FOOTER =====*/
.footer.section{
padding: .2rem;
}
.footer-contaner{
  grid-template-columns: repeat(auto-fit , minmax(220px,1fr));
}
.footer-box{
  margin-bottom: var(--mb-4);
}
.footer-title{
  font-size: var(--big-font-size);
}

.footerlink{
  display: block;
  width: max-content;
}

.socil{
  font-size: 1.5rem;
  margin-right: 1.25rem;
  transition: .3s;
}
.socil:hover{
  /* Dont Wokr 3d Anamation -_-  */
  transform:perspective(80px) scale3d(1.3, 1.3, 1.3) translateZ(30px);;
  color: #6e1313;
}

.footer-copy{
  font-size: var(--smaller-font-size);
  padding-top:1rem ;
  text-align: center;
  color: var(--dark-color-light);
  padding-bottom: .5rem !important;
}


/* ============ sneakers Pages */
.snakers-pages{
  margin-top: var(--mb-5);
}
.snakers-page-one{
  border:1px solid;
  padding: .5rem 1rem var(--dark-color);
}
.snakers-page-one:hover{
  background-color: var(--dark-color);
  color: var(--white-color);
}



/* ! ===== MEDIA QUERIES=====*/


@media (min-width:576px){
  .collection-contaner{
    grid-template-columns: 500px;
  }

  .collection-contaner .collection-img{
    width: 260px;
  }

  .offer-contaner{
    grid-template-columns: max-content max-content;
  }
  .offer-data{
    text-align: center;
  }
  .new-means{
    align-items: center;
    padding: 3rem !important;
  }
}
@media  (min-width:768px){
  body{
    margin: 0;
  }

  .section{
    padding: 6rem 0  ;
    margin: 0;
  }
  .section-title::after{
    width: 76px;
  }
  .nav{
    height: calc(var(--header-height)+2rem);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
  }
  .nav-mneu{
    padding: 3rem;
    margin-left: auto;
  }
  .nav-list{
    display: flex;
  }
  .nav-item{
    padding-top: 1rem;
    margin-left: var(--mb-5);
    margin-bottom: 1rem;
  }
  .nav-toggle{
    display: none;
  }

  .home-contanner{
    height: 100vh;
   width: 70vw;
   
    grid-template-columns: max-content max-content;
    justify-content: left;
    align-items:center;
  }
  .home-data{
    padding: 2rem;
  }
  .home-sneker{
    order: 1;
  }

  .home-shop{
    width: 379px;
    height: 376px;
  }

  .home-img{
    top:3.5rem;
    right: 0;
    left: -3rem;
    width: 470px;
  }

  .newsletter-contaner{
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    column-gap: 3rem;
  }

  .newsletter-description{
    margin-bottom: 0;
  }

  .newsletter-form{
    /* width: 360px; */
    height: max-content;
  }
}


@media (min-width:1024px){
  .bg-grid{
    /* margin-left: auto;
    margin-right: auto; */

  }

  .home-contanner{
    column-gap: 6rem;
  }

  .collection-contaner{
   grid-template-columns: repeat(2,460px);
  }

  .new-contaner{
    grid-template-columns: max-content 1fr;
  }

  .new-means{
    align-items: initial;
    justify-content: flex-end;
    padding: 4rem 2rem;
  }
  .new-means-img{
    margin-bottom: var(--mb-5);
  }

  .offer.section{
    padding:1rem;
  }
}